*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header {
  background: rgb(0, 0, 0);
  color: white;
}
.navber {
  height: 50vh;
  padding: 2rem;
}
.nav-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.list-item {
  font-size: 1.3rem;
}

@media screen and (min-width: 720px) {
  .navber {
    height: 90px;
  }
  .nav-list {
    flex-direction: row;
    justify-content: end;
    font-size: 1.2rem;
  }
}
