@font-face {
  font-family: "opensans";
  src: url("fonts/opensans/opensans-semibold-webfont.woff2") format("woff2"),
    url("fonts/opensans/opensans-semibold-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "opensans";
  src: url("fonts/opensans/opensans-bold-webfont.woff2") format("woff2"),
    url("fonts/open\ sans/opensans-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: 700;
}

@font-face {
  font-family: "opensans";
  src: url("fonts/opensans/opensans-regular-webfont.woff2") format("woff2"),
    url("fonts/open\ sans/opensans-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "raleway";
  src: url("fonts/relaway/raleway-bold-webfont.woff2") format("woff2"),
    url("fonts/relaway/raleway-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "raleway";
  src: url("fonts/relaway/raleway-regular-webfont.woff2") format("woff2"),
    url("fonts/relaway/raleway-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "raleway";
  src: url("fonts/relaway/raleway-semibold-webfont.woff2") format("woff2"),
    url("fonts/relaway/raleway-semibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

body {
  margin: 10px;
  /* font-family: "opensans", sans-serif; */

  /* font-family: "Open Sans", sans-serif; */
  font-family: "raleway", sans-serif;
}

p {
  font-weight: normal;
  font-style: italic;
  font-size: 1rem;
  color: #222;
  font-weight: 600;
}
