<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exercises 2</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <img src="images/pic6.jpg" alt="" class="img img-one" />
      <img src="images/pic2.jpg" alt="" class="img img-two" />
      <img src="images/pic2.jpg" alt="" class="img img-three" />
      <img src="images/pic6.jpg" alt="" class="img" />
      <img src="images/pic2.jpg" alt="" class="img" />
      <img src="images/pic6.jpg" alt="" class="img" />
      <img src="images/pic6.jpg" alt="" class="img" />
      <img src="images/pic2.jpg" alt="" class="img" />
      <img src="images/pic6.jpg" alt="" class="img" />
    </div>
  </body>
</html>
